@import url(/styles/variables.css);



/* Landing page styles*/

.nav{
    margin: var(--space-sm) var(--space-xxl) ;
    display: flex;
    justify-content: space-around;
}

.nav__left,
 .nav__right {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    color: var(--neutral-900);
}

.nav__dropdown--content{
    display: none;
    position: absolute;
    background-color: white;
}

.nav__dropdown{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.nav__dropdown:hover .nav__dropdown--content{
    display: block;
}

.nav__logo{
    width: 144px; 
    height: 36px;
}

.nav__contact{
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    border: 1px solid var(--neutral-300) ;
    padding: var(--space-xxs) var(--space-sm);
    border-radius: .6rem;
}

.nav__cta{
    background-color: var(--primary-500);
    padding: var(--space-xxs) var(--space-sm);
    color: var(--white);
    border-radius: .6rem;

    &:hover{
        background-color: var(--primary-550);
    }

    &:active{
        background-color: var(--primary-600);
    }
}

/* Hero Section */

.hero{
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    align-items: end;
    margin: var(--space-xxxl) var(--space-xxl) 0 var(--space-xxl);
}

 .hero__text{
    align-self: flex-start;
    text-align: center;
} 

.hero__btn{
    margin-top: var(--space-lg);
    display: flex;
    justify-content: center;
    gap: var(--space-sm);

    .hero__btn--cta{
        color: var(--white);
        background: var(--primary-500);
        display: flex;
        align-items: center;
        gap: var(--space-xxs);
        padding: var(--space-xxs) var(--space-sm);
        border-radius: var(--radius-22);

        &:hover{
            background: var(--primary-550);
        }

        &:active{
            background: var(--primary-600);
        }
         
    }

    .hero__btn--demo{
        color: var(--primary-500);
        border: 1px solid var(--primary-500); ;
        display: flex;
        align-items: center;
        gap: var(--space-xxs);
        padding: var(--space-xxs) var(--space-sm);
        border-radius: var(--radius-22);

        &:hover{
            color: var(--primary-550);
            border-color: var(--primary-550);
        }

        
        &:active{
            color: var(--primary-600);
            border-color: var(--primary-600);
        }

    }
}

.hero__image--first,
.hero__image--second{
    height: 44.4rem;
}

/* hero Integration section */

.hero__integrations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    background: var(--neutral-150);
    color: var(--neutral-550);
    padding: var(--space-xl) 0;
}

.hero__integrations__icons{
    display: flex;
    gap: var(--space-lg);
    margin-top: var(--space-md);

    .framework{
        width: 44px;
        height: 44px;    
    }
}

/* about section */
.about{
    margin-top: var(--space-xxxl) ;
}

.about__text, .about__heading{
    text-align: center;
    width: 40%;
    margin: auto;
    color: var(--neutral-600);
}

  .about__video__container{
    background: url(/assets/landpage-net.svg);
 } 
 .about__video{
    width: 60%;
    margin: auto;
    padding: var(--space-xxl);
    display: flex;
    
 }

 /* service section */

 .service{
    margin-top: var(--space-xxxl);
    margin-bottom: var(--space-xxl); 
 }

 .service__heading__first,
  .service__heading__second{
    text-align: center;
    width: 40%;
    margin: auto;
    color: var(--neutral-650);
 }

 .service__grid__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-md);
   
    padding: var(--space-md) var(--space-xxxl);
 }

 .service__grid{
    border: 1px solid var(--primary-500);
    border-radius: var(--radius-6);
    padding: var(--space-md);
 }

 section.grid::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 2rem;
   color: var(--primary-500);
 }

 .service__grid__head{
    display: flex;
    gap: var(--space-xs);
    margin-bottom: var(--space-md); 
 }

 .service__grid__text{
    margin-bottom: var(--space-md); 
 }

.service__grid__btn{
    color: var(--primary-500);
    background: var(--primary-100);
    display: flex;
    align-items: center;
    
    gap: var(--space-xs);
    padding: var(--space-xs);
    border-radius: var(--radius-6);
}

.service__btn{
    display: flex;
    justify-content: center;
    gap: var(--space-xs);
}

.service__btn--demo{
    color: var(--white);
    background: var(--primary-500);
    gap: var(--space-xs);
    padding: var(--space-xs);
    border-radius: var(--radius-22);
}

.service__btn--feature{
    color: var(--primary-500);
    border: 1px solid var(--primary-500);
    gap: var(--space-xs);
    padding: var(--space-xs);
    border-radius: var(--radius-22);
    display: flex;
    align-items: center;  
}

/* Testimonial section */

.testimonial{
    margin-top: var(--space-xxxl); 
    padding: var(--space-xxxl) var(--space-xxl); 
    margin-bottom: var(--space-xxl);
    background-color: var(--neutral-150); 
 }

.testimonial__heading,
.testimonial__heading--two {
    text-align: center;
    width: 40%;
    margin: auto;
    color: var(--neutral-650);
    margin-bottom: var(--space-lg);
 }

 .testimonial__casestory{
    display: flex;
    margin: 0 var(--space-xxl);

 }

 .testimonial__story__image{
    width: 50%;
 }

 .testimonial__story{
    background-color: var(--white);
    padding: var(--space-xl);
    position: relative;
    z-index: 99;
    /* background: url(/assets/bg-net\ testimonial.svg); */
 }

 .testimonial__story__btns{
    margin-bottom: var(--space-xxl);
 }

 .testimonial__btn{
    font-size: var(--fs-small);
    cursor: pointer;
    color: var(--primary-500);
    margin-right: var(--space-xxl);
    padding: var(--space-xxs);
    border-radius: var(--radius-22);

    &:hover{
        background: var(--primary-150);
    }
 }

 .testimonial__btn__active{
    color: var(--white);
    background: var(--primary-500);
 }

 .testimonial__story__head{
    margin-bottom: var(--space-xxl);
    color: var(--neutral-900);
    
 }

 .testimonial__story__dets{ 
    border-left: 2px solid var(--primary-500);
    padding: 0 var(--space-xl);
    font-size: var(--fs-medium);
    margin-bottom: var(--space-xxl);

 }

 .testimonial__story__text{
    color: var(--neutral-650);
 }

 .testimonial__story__name{
    color: var(--neutral-900);
    display: flex;
    align-items: center;
    font-weight: 600;
 }
 
 .testimonial__story__link{
    color: var(--primary-500);
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space-sm);

    &:hover{
        background: var(--primary-150);
        width: fit-content;
       
    }
 }

 /* .testimonial__bg{
    position: absolute;
    top: 0;
    right: 2%;
    left: 2%;
    
 } */

 .testimonial__awards{
    display: flex;
    justify-content: space-evenly;
    margin-top: var(--space-xxxl);
    color: var(--neutral-650);
    text-align: center;

    & i{
        font-size: var(--fs-xxl);
        
    }

    & h5{
        font-weight: 800;
    }
 }


 /* Library section */
 .library{
    padding: 0 var(--space-xxxl);
    margin-top: var(--space-xxl); 
 }

 .library__heading,
 .library__heading--two{
    text-align: center;
    width: 40%;
    margin: auto;
    color: var(--neutral-650);
    margin-bottom: var(--space-lg);
 }

 .library__griditem:nth-of-type(1){grid-area: one;}
 .library__griditem:nth-of-type(2){grid-area: two;}
 .library__griditem:nth-of-type(3){grid-area: three;}
 .library__griditem:nth-of-type(4){grid-area: four;}
 .library__griditem:nth-of-type(5){grid-area: five;}
 .library__griditem:nth-of-type(6){grid-area: six;}
 

 .library__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--space-md);
    margin-top: var(--space-xxxl);   
    grid-template-areas: 
    'one two three'
    'one five three'
    'four five six'  
    ;
 }

 .library__griditem{
    box-shadow: 0px 2px 5px #171a1f17, 0px 0px 2px #171a1f1F;
    border-radius: var(--radius-6);
    padding: var(--space-md);
 }

 .library__grid__img{
    width: 90%;
    border-radius: var(--radius-6);

    display: flex;
    justify-content: center;
    margin-bottom: var(--space-md);

 }

 .library__grid__date{
    font-size: var(--fs-small);
    color: var(--neutral-500);
    font-weight: 600;
 }

 .library__grid__head{
    margin-top: var(--space-sm);
    color: var(--neutral-900);
    /* font-weight: 700; */
 }

 .library__grid__text{
    font-size: var(--fs-small);
    color: var(--neutral-550);
    margin-top: var(--space-sm);

 }

 .library__grid__profile{
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    margin-top: var(--space-lg);
 }

 .library__profile__img{
    border-radius: 50%;
    width: 10%;
 }

 .library__profile__name{
    font-size: var(--fs-small);
    color: var(--neutral-700);
    font-weight: 600;
 }

 .library__profile__desc{
    font-size: var(--fs-xs);
    line-height: 2rem; 
    font-weight: 400;
 }

 .library__btn{
    color: var(--primary-500);
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    border: 1px solid var(--primary-500);
    padding: var(--space-xs);
    border-radius: var(--radius-22);
    margin-top: var(--space-xxl);
    margin-bottom: 20%;
    text-align: center;

    &:hover{
        color: var(--primary-550); 
        border-color: var(--primary-550);
    
    }
 }

 /* Call to action section */

 .cta{
   background-color: var(--white);
   position: relative;
   padding: var(--space-xl) 0;
   margin-bottom: 17%;

   }

.items{
   text-align: center;
   width: 40%;
   margin: auto;
   color: var(--neutral-650);
   margin-bottom: var(--space-lg);
   /* margin-top: 20%; */
  
 }

 .cta__heading,
 .cta__btns{
   margin-bottom: var(--space-xl);
 }

 .cta__btns{
   display: flex;
   justify-content: center;
   gap: var(--space-sm);
   /* margin-top: var(--space-xxl); */
 }

.cta__sales__btn{
   color: var(--primary-500);
   border: 1px solid var(--primary-500);
   padding: var(--space-xs) var(--space-sm);
   border-radius: var(--radius-22);
   display: flex;
   align-items: center;
   gap: var(--space-sm);
}

 .cta__trial__btn{
   background-color: var(--primary-500);
   color: var(--white);
   padding: var(--space-xs);
   border-radius: var(--radius-22);

 }

 .cta__bg{
    position: absolute;
    top: -25%;
    left: 5%;
    z-index: -1;

 }

 /* footer section */

 .footer{
   background-color: var(--neutral-100);
   padding: var(--space-xxl) var(--space-xxxl) ;
 }

 .footer__logo{
   width: 4.8rem;
   margin-bottom: var(--space-sm);
 }

 .footer__link__container{
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   padding-bottom: var(--space-lg);
 }

 .footer__link__head{
   color: var(--primary-600);
 }

 .footer__list__item:hover{
   text-decoration: underline;
 }

 .footer__one{
   border-bottom:1px solid var(--neutral-300);
 }

 .footer__two__container{
   /* display: grid;
   grid-template-columns: repeat(3, 1fr); */

   display: flex;
   justify-content: space-between;
   margin: var(--space-xl) 0;
 }
 
 .footer__subscribe__head{
   color: var(--primary-300);
 }

 .footer__input{
   padding: var(--space-sm);
   border: none;
   background-color: var(--neutral-250);
   border-radius: var(--radius-6) 0 0 var(--radius-6);

   &:focus{
       background-color: var(--white);
       color: var(--neutral-400);
   }
 }

 .footer__form__btn{
   background: var(--primary-500);
   color: var(--white);
   padding: var(--space-xxs);
   border-radius: 0 var(--radius-6) var(--radius-6) 0;
 }

 .fa-brands{
   font-size: var(--fs-xl);
 }

 .fa-brands + .fa-brands{
    margin-left: var(--space-xs);
 }


 .footer__footer{
   margin-top: var(--space-md); 
   font-size: var(--fs-small);
   color: var(--neutral-550);
   text-align: center;

   & i{
      font-size: .3rem;
  }

 }