/*Importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Custom properties*/
:root{
    /* fonts family */
--heading-font: "Archivo", sans-serif;
--body-font:  "Inter", sans-serif;

/* font sizes */
--fs-xs: 1.2rem; /* 12px */
--fs-small: 1.4rem; /* 14px */
--fs-base: 1.6rem; /* 16px */
--fs-medium: 1.8rem; /* 18px */
--fs-md-lg: 2rem; /* 20px */
--fs-large: 2.8rem; /* 28px */
--fs-xl: 3.2rem; /* 32px */
--fs-xxl: 4.8rem; /* 48px */


/* Spacing (Margin, Padding, Gap) */
--space-xxs: 0.4rem;  /* 4px */
--space-xs: 0.8rem;  /* 8px */
--space-sm: 1.2rem;  /* 12px */
--space-md: 2.4rem;  /* 24px */
--space-lg: 3.2rem;  /* 32px */
--space-xl: 4.8rem;  /* 48px */
--space-xxl: 6.4rem;  /* 64px */
--space-xxxl: 12rem;

/* Colors */

--gray-900: #171A1FFF; /* gray-900 */
--neutral-900: #171A1FFF; /* neutral-900 */
--neutral-700: #323842FF; /* neutral-700 */
--neutral-650: #424955FF; /* neutral-650 */
--neutral-600: #565E6CFF; /* neutral-600 */
--neutral-550: #6E7787FF; /* neutral-550 */
--neutral-500: #9095A0FF; /* neutral-500 */
--neutral--400: #BCC1CAFF; /* neutral-400 */
--neutral-300: #DEE1E6FF; /* neutral-300 */
--neutral-250: #EAECEFFF; /* neutral-250 */
--neutral-200: #F3F4F6FF; /* neutral-200 */
--neutral-150: #F8F9FAFF; /* neutral-150 */
--neutral-100: #FAFAFBFF; /* neutral-100 */

--primary-100: #F2F2FDFF; /* primary-100 */
--primary-150 : #E0E1FAFF; /* primary-150 */
--primary-200: #CED0F8FF; /* primary-200 */
--primary-500: #636AE8FF; /* primary-500 */
--primary-550: #4850E4FF; /* primary-550 */
--primary-600: #2C35E0FF; /* primary-600 */
--primary-800: #12177AFF; /* primary-800 */

--secondary-100: #FDF1F5FF; /* secondary-100 */

--tertiary1-100: #EFFCFAFF; /* tertiary1-100 */

--info-100: #F1F8FDFF; /* info-100 */
--info-400: #66B2ECFF; /* info-400 */
--info-500: #379AE6FF; /* info-500 */
--info-600: #197DCAFF; /* info-600 */
--info-650: #166DB0FF; /* info-650 */
--white: #FFFFFFFF; /* white */
--black: #000000FF; /* black */

--danger-500: #DE3B40FF; /* neutral-550 */

/* border radius */

--radius-6: .6rem;
--radius-10: 1rem;
--radius-22: 2.2rem;

/* box shadow */
--shadow-xs: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F; /* shadow-xs */
}

/*Global styles*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--neutral-900);
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    font-family: var(--heading-font);
}

h1 { 
    font-size: var(--fs-xxl);
    line-height: 6.8rem;
 }

h2 {
     font-size: var(--fs-xl);
     line-height: 4.8rem;   
 }

h3 { 
    font-size: var(--fs-large);
    /* line-height: 6.8rem; */
}

h4 { 
    font-size: var(--fs-md-lg);
    line-height: 3rem ;
 }

h5 { 
    font-size: var(--fs-medium);
     line-height: 2.8rem; 
     /* font-weight: 400; */
    }

h6 {
     font-size: var(--fs-small); 
     line-height: 2.2rem;
    }

p, 
a,
span,
button,
li,
div {
    font-size: var(--fs-base);
    line-height: 2.6rem;
    background-color: transparent;
    border: none;
    font-family: var(--body-font);
    text-decoration: none;
    color: inherit;
    list-style: none;
}